body {
  background-image: url("https://cdn.getyourguide.com/img/tour/5bc465394612a.jpeg/148.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  /* height: 100vh; */
}
