* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to left, #ffa7b4, #ffb6c1, #fdc2cb, #fcd3d9);
  height: 100vh;
}

.container {
  width: 60%;
  margin: 0 auto;
}

form {
  padding: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

input,
textarea {
  padding: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
}

.card {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
}

.card > img {
  width: 100%;
}
