.float-block {
  display: block;
  height: 200px;
  width: 200px;
  background: green;
  text-align: center;
  line-height: 200px;
}

.float-block.float-block--left {
  float: left;
  margin-right: 1rem;
}

.float-block.float-block--right {
  float: right;
  margin-left: 1rem;
}

.clearfix {
  clear: both;
}

/* ===================== */
/* FLEX ITEMS */
/* ===================== */

.flex-items {
  display: flex;
  background-color: springgreen;
  height: 500px;
}

.flex-items > .box {
  background-color: steelblue;
  padding: 30px;
  flex: 1 1 200px;
}

.flex-items > .box:nth-child(2) {
  background-color: thistle;
}

.box > p {
  background-color: teal;
  border: 2px solid black;
}
