/* Common Styles */

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* .main-block {
  border: 2px solid hotpink;
} */

.full-block {
  border: 2px solid purple;
}

.main-block,
.full-block {
  height: 700px;
}

.wide-block,
.narrow-block {
  height: 100%;
}

.wide-block {
  width: 65%;
  border: 2px solid orangered;
}

.narrow-block {
  width: 35%;
  border: 2px solid olive;
}

.button-style {
  color: white;
  background-color: transparent;
  border-radius: 20px;
  padding: 10px 15px;
  border: 1px solid white;
  cursor: pointer;
}

/* 1st block */
.water-bg {
  background-image: url(water.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}

.water-bg-layer {
  background-color: rgba(61, 61, 61, 0.5);
  height: 100%;
}

.text-content {
  padding-top: 150px;
  padding-left: 150px;
  width: 50%;
}

.text-content {
  color: white;
}

.text-content > h1 {
  font-size: 4rem;
  font-weight: 100;
}

.border-line {
  border: 3px solid goldenrod;
  width: 70px;
}

/* 1st container narrow block styles */
.bg-yellow {
  background-color: rgb(255, 187, 85);
  color: white;
}

.fa-adn {
  font-size: 10rem;
  /* color: white; */
}

.brand-name,
.subtitle {
  text-transform: uppercase;
}

.brand-name {
  font-size: 3rem;
}

.white-line {
  border-bottom: 3px solid white;
  width: 100%;
}

.some-quote {
  width: 75%;
  font-style: italic;
  font-size: 0.9rem;
  line-height: 1.5;
  text-align: center;
}

.icons {
  list-style: none;
  padding: 0;
  width: 50%;
}

.icon {
  display: block;
  background-color: white;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  color: rgb(255, 187, 85);
  font-size: 1.2rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.icon:hover {
  background-color: rgb(212, 154, 67);
}
