/* Common Styles */

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* .main-block {
  border: 2px solid hotpink;
} */

.full-block {
  border: 2px solid purple;
}

.main-block,
.full-block {
  height: 600px;
}

.wide-block,
.narrow-block {
  height: 100%;
}

.wide-block {
  width: 65%;
  border: 2px solid orangered;
}

.narrow-block {
  width: 35%;
  border: 2px solid olive;
}

.button-style {
  color: white;
  background-color: transparent;
  border-radius: 20px;
  padding: 10px 15px;
  border: 1px solid white;
  cursor: pointer;
  width: 135px;
}

.bg-layer {
  background-color: rgba(61, 61, 61, 0.5);
  height: 100%;
}

/* 1st block */
.water-bg {
  background-image: url(water.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}

.text-content {
  padding-top: 150px;
  padding-left: 150px;
  width: 50%;
}

.text-content,
.offer {
  color: white;
}

.text-content > h1 {
  font-size: 4rem;
  font-weight: 100;
}

.border-line {
  border: 3px solid goldenrod;
  width: 70px;
}

/* 1st container narrow block styles */
.bg-yellow {
  background-color: rgb(255, 187, 85);
  color: white;
}

.fa-adn {
  font-size: 10rem;
  /* color: white; */
}

.brand-name,
.subtitle,
.offer {
  text-transform: uppercase;
}

.brand-name {
  font-size: 3rem;
}

.white-line {
  border-bottom: 3px solid white;
  width: 100%;
}

.some-quote {
  width: 75%;
  font-style: italic;
  font-size: 0.9rem;
  line-height: 1.5;
  text-align: center;
}

.icons {
  list-style: none;
  padding: 0;
  width: 50%;
}

.icon {
  display: block;
  background-color: white;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  color: rgb(255, 187, 85);
  font-size: 1.2rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.icon:hover {
  background-color: rgb(212, 154, 67);
}

/* 2nd block styles */

.bg-envelope {
  background-image: url(green_envelopes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

.bg-layer-red {
  height: 100%;
  background-color: rgba(161, 57, 57, 0.9);
}

.mail-icon {
  color: white;
  border: 1px solid white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
}

.fa-cat {
  font-size: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.offer {
  font-weight: 700;
  font-size: 1.5rem;
}

.bg-grey {
  background-color: rgb(224, 224, 224);
}

.theme-text,
.left-image {
  width: 50%;
}

/* 2nd block image */

.lantern-container {
  width: 50%;
  height: 70%;
}

.lantern-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-browny-red {
  background-color: rgb(161, 57, 57);
  border: 1px solid rgb(161, 57, 57);
}

.theme-title {
  font-weight: 200;
  font-size: 1.9rem;
  margin: 0;
}

.theme-subtitle {
  color: rgb(161, 57, 57);
  margin-top: 5px;
  font-size: 2rem;
}

.red-text {
  color: rgb(161, 57, 57);
}

.theme-paragraph {
  line-height: 1.5;
  font-size: 0.9rem;
}

.theme-text ul {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.theme-text ul > li {
  line-height: 1.5;
  font-style: italic;
  color: gray;
  font-size: 14px;
}

li::before {
  content: "+ ";
}
