.btn {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #555;
  padding: 0.4rem 0.75rem;
  user-select: none;
  cursor: pointer;
  box-shadow: 0 3px 6px 1px #5555;
  color: #fff;
  border-radius: 4px;
  background: #555
}

.btn:hover {
  color: #d5d5d5;
  box-shadow: 0 3px 8px 3px #5555;
}

.btn--primary {
  background-image: linear-gradient(to bottom, #e6b004, #bb9414);
}

.btn--primary:hover {
  background-image: linear-gradient(to top, #e6b004, #bb9414);
}

.btn--secondary {
  background-image: linear-gradient(to bottom, #9f9ca3, #575c69);
}

.btn--secondary:hover {
  background-image: linear-gradient(to top, #9f9ca3, #575c69);
}

.btn--sm {
  font-size: 0.8rem;
  padding: 0.3rem 0.5rem;
}

.btn--lg {
  font-size: 1.25rem;
  padding: 0.6rem 0.8rem;
}
