section {
  width: 1000px;
  height: 1000px;
  background-color: burlywood;
  margin: 0 auto;
  position: relative;
}

.boxes {
  display: inline-block;
  position: absolute;
}

.box1 {
  background-color: peru;
  width: 200px;
  height: 300px;
  top: 100px;
  left: 100px;
}

.box2 {
  background-color: orange;
  width: 200px;
  height: 300px;
  top: 200px;
  left: 200px;
  z-index: 1;
}

.box3 {
  background-color: pink;
  height: 200px;
  width: 300px;
  top: 250px;
  left: 250px;
  z-index: 1;
}

.box4 {
  background-color: blue;
  height: 200px;
  width: 300px;
  top: 400px;
  left: 400px;
  z-index: 3;
}

.box5 {
  background-color: yellow;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  top: 300px;
  right: 400px;
  z-index: 1;
}

.box6 {
  background-color: red;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  top: 300px;
  left: 300px;
  z-index: 4;
}
