table {
  width: 100%;
}

th,
td {
  width: 25%;
  padding: 5px;
}

table,
th,
td {
  border: 2px dotted black;
  border-collapse: collapse;
}

th {
  text-align: left;
}

td {
  text-align: center;
}

.header-bg {
  background-color: pink;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.p-25 {
  padding: 25px;
}

.flag {
  transition: 0.5s;
}

.flag:hover {
  transform: scale(1.2);
}

.last-items:hover {
  background-color: rebeccapurple;
}

tr:last-child td:hover {
  background-color: red;
}

.parentElement .firstChild {
  border: 2px solid black;
}

.firstChild {
  border: 2px solid red;
}
