* {
  box-sizing: border-box;
}

body {
  background-color: lightpink;
}

.gameContainer {
  border-radius: 20px;
  box-shadow: 0 2px 4px rgb(121, 121, 121);
  width: 60%;
  margin: 100px auto;
  padding: 50px;
  background-color: white;
}

img {
  width: 50%;
  margin-bottom: 50px;
}

#cookie {
  transition: 500ms;
  border-radius: 50%;
}

.scoreText {
  display: none;
  text-align: center;
}

.gameContainer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 200px;
  padding: 10px;
  margin-bottom: 20px;
}

/* states */

#gamePage {
  display: none;
}

#shopPage {
  display: none;
}

/* spinner */
.rotate {
  animation-name: spinner;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
