section {
  width: 600px;
  margin: 50px auto;
}

section p {
  text-align: justify;
}

.chat {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  position: fixed;
  bottom: 50px;
  right: 50px;
  padding: 10px;
}

.chat .symbol {
  background-color: royalblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  background-color: royalblue;
  line-height: 2;
  color: white;
  position: sticky;
}

.heading1 {
  top: 50px;
}

.heading2 {
  top: 100px;
}

.heading3 {
  top: 150px;
}

.heading4 {
  top: 200px;
}
