* {
  box-sizing: border-box;
}

header {
  background-color: rgb(143, 194, 143);
  padding: 10px;
}

.logo {
  background-color: honeydew;
  text-align: center;
  padding: 10px;
}

nav {
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 183, 183);
}

nav a {
  text-decoration: none;
  line-height: 3;
  color: white;
  border-bottom: 1px solid gray;
}

.banner-section {
  background-color: rgb(235, 206, 255);
  padding: 10px;
}

.image-cont {
  margin: 30px 0;
  width: 100%;
  height: 150px;
  background-color: khaki;
  padding: 15px;
}

.img {
  width: 100%;
  height: 100%;
  background-color: lavender;
}

.some-text {
  display: block;
  text-align: center;
  font-size: 22px;
  background-color: rgb(235, 255, 195);
  margin-bottom: 30px;
}

.banner-section button {
  display: block;
  width: 100%;
  padding: 20px;
  margin-bottom: 30px;
  background-color: rgb(233, 118, 141);
  border-radius: 15px;
  border: none;
}

.articles {
  background-color: hotpink;
  padding: 10px;
}

.articles .card {
  /* background-color: rgb(255, 255, 153); */
  padding-bottom: 10px;
}

.card .article-img {
  height: 150px;
  background-color: gray;
  border: 10px solid white;
}

@media screen and (min-width: 769px) {
  header {
    display: flex;
    padding: 20px;
  }

  .logo {
    width: 30%;
  }

  nav {
    width: 70%;
    flex-direction: row;
    justify-content: space-around;
  }

  nav a {
    border-bottom: none;
  }

  .banner-section {
    padding: 20px;
  }

  .image-cont {
    height: 200px;
  }

  .some-text {
    font-size: 28px;
  }

  .banner-section button {
    width: 300px;
    margin: 0 auto;
  }

  .articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .articles .card {
    width: 48%;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1025px) {
  header {
    display: flex;
    padding: 30px;
  }

  .logo {
    width: 30%;
  }

  nav {
    width: 70%;
    flex-direction: row;
    justify-content: space-around;
  }

  nav a {
    font-size: 22px;
  }

  .banner-section {
    padding: 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
  }

  .image-cont {
    margin: 0 0 0 30px;
  }

  .banner-content,
  .image-cont {
    flex: 1;
  }

  .banner-content .some-text {
    text-align: left;
  }

  .banner-content button {
    margin: 0;
  }

  .banner-content {
    margin-right: 20px;
  }

  .articles {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .articles .card {
    width: 23%;
    margin-bottom: 10px;
  }
}
