body {
  background-color: #eee;
}

.wrapper {
  width: 70%;
  margin: 20px auto;
}

.general-styles {
  background-color: #fff;
  box-shadow: 0 2px 4px rgb(223, 223, 223);
  border-radius: 15px;
}

.logo-container {
  height: 50px;
}

.logo-container > img {
  object-fit: cover;
  height: 100%;
}

header nav a {
  color: black;
  text-decoration: none;
}

header nav a:not(:last-child) {
  margin-right: 20px;
}

header nav a:hover {
  text-decoration: underline;
}

/* ABOUT SECTION STYLES */

#about {
  box-sizing: border-box;
}

.section-title {
  text-align: center;
}

.about-img-wrapper img {
  object-fit: cover;
  width: 100%;
}

/* .about-text-wrapper p {
  text-align: justify;
} */

header,
main,
footer {
  text-align: center;
}

.about-text-wrapper:not(p) {
  text-align: justify;
}

/* PRODUCTS STYLES */

.product img {
  object-fit: cover;
  object-position: 70% 50%;
  width: 200px;
  height: 500px;
}
