// extend
%justify-between {
  display: flex;
  justify-content: space-between;
}

%align-items {
  display: flex;
  align-items: center;
}

%between-centered {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
